<!-- この部分は共通のレイアウトlayout.htmlを使う -->
{% extends "layout.html" %}

<!-- 以下の内容が、layout.htmlに記述されているブロックに挿入される -->
{% block content %}

<!-- 余白が欲しいのでcontanerで囲む -->
<div class="container">
    <h1>index.html表示してます</h1>
    <!-- 画像を表示 -->
    <img src="{{ url_for('static', filename='images/wordcrowd_sawabe.png')}}"

    <p id="test">{{ my_dict.insert_something1 }}</p>
    <p>{{ my_dict.insert_something2 }}</p>

    <h2>タイトル表示</h2>
    <ul>
        {% for title in my_dict.test_titles %}
        {% if title == 'title2' %}
            <li>{{ title }}</li>
        {% elif title == 'title3' %}
            <li>見せられないよ</li>
        {% else %}
            <li>xxxx</li>
        {% endif %}
        {% endfor %}
    </ul>
</div>

<!-- 読み込みはlayout.htmlで行っても良いですが、全てのページで処理が起こって欲しくはないのでindex.htmlに追加 -->
<script src="{{ url_for('static', filename='javascript/sample.js') }}"></script>
{% endblock %}